# Ignorar el entorno virtual
venv/
**/venv/

# Ignorar artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar el directorio de Git
.git/

# Ignorar configuraciones de IDE y herramientas
.vscode/
.idea/
.DS_Store

# Ignorar carpetas de datos pesadas, pero no los CSV procesados
data/raw/
data/imagenes_satelitales_muestra/

# Ignorar logs locales
logs/
*.log

# Ignorar archivos de caché de pytest
.pytest_cache/
.coverage

# Ignorar archivos de SQLite si se usan para desarrollo local
instance/
*.db
*.sqlite3
