# --- 1. Lo estándar de Python y Git (Lo que ya tenías) ---
venv/
**/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.vscode/
.idea/
.DS_Store
logs/
*.log
.pytest_cache/
.coverage

# --- 2. Bases de datos locales (Vital para no borrar datos) ---
# Ahora usaremos Neon (Postgres)
instance/
*.db
*.sqlite3

# --- 3. EL GRAN CAMBIO: El Frontend ---
frontend/

# --- 4. Archivos de "Laboratorio" (No necesarios para producción) ---
notebooks/
reports/
presentation/
imagenes_github/

# --- 5. Datos y Modelos ---
data/
models/