# Variables de API
# Obtené tu propio token gratuito en https://www.ncdc.noaa.gov/cdo-web/token
NOAA_TOKEN="TU_TOKEN_DE_NOAA_AQUI"
# Obtené tu propia clave gratuita en https://newsapi.org/
NEWSAPI_KEY="TU_CLAVE_DE_NEWSAPI_AQUI"

# Configuración del Email para validación
# (Recomendado: crear una cuenta de Gmail separada para el proyecto)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME="tu_email@gmail.com"
MAIL_PASSWORD="tu_contraseña_de_aplicacion_de_google"
MAIL_DEFAULT_SENDER="tu_email@gmail.com"

# Configuración de la Base de Datos PostgreSQL (para producción en Render)
# Render y otros proveedores suelen dar una URL de conexión completa.
DATABASE_URL="postgresql://usuario:contraseña@host:port/basededatos"

# Opcional: Componentes individuales de la base de datos
# DB_USER="tu_usuario_de_db"
# DB_PASSWORD="tu_contraseña_de_db"
# DB_HOST="tu_host_de_db"
# DB_NAME="tu_nombre_de_db"


### Nota:
# Cabe aclarar que se debe usar una "contraseña de aplicación", ademas de eso se coloca el example.env por peticion escolar, pero al ser una aplicacion completa y en despliegue publico, para su utlizacion primero se debe tener concentimiento de Nimbus AI y luego solicitar fork o lo que se quiera utilizar.
# Como tambien dejar en claro que todo el proyecto tiene licencia MIT, por lo que se puede utilizar libremente respetando las condiciones de la misma.