# Ignorar entorno virtual
venv/
.venv/
# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Archivos de entorno (variables de configuración sensibles)
.env
.env.*

# Archivos de bases de datos locales (si estás usando SQLite o similares)
*.db
*.sqlite3

# Archivos generados por el sistema operativo
.DS_Store   # macOS
Thumbs.db   # Windows

# Archivos de logs
*.log

# Otros archivos generados por el sistema
*.bak
*.swp

# Archivos de documentacion generados
estructura_directorio.txt
Plan de Despliegue.txt

# Plantilla commit
plantilla_commit.txt

# Carpeta de ayudas y recursos
ayudas_y_recursos/

# Ignorar checkpoints de Jupyter
.ipynb_checkpoints/
.cache.sqlite

# Ignorar imagenes satelitales
2017-04-05_2000_UTC.nc
2020-11-12_2000_UTC.nc
2022-02-23_0100_UTC.nc
2024-02-28_0100_UTC.nc
2017-03-26_2000_UTC.nc
2018-11-25_0100_UTC.nc
2018-12-19_0500_UTC.nc
2021-12-16_2000_UTC.nc
2023-03-08_0100_UTC.nc
2023-11-28_2000_UTC.nc
2024-01-25_0100_UTC.nc
2017-03-25_2000_UTC.nc
2018-11-04_2000_UTC.nc
2018-12-29_2000_UTC.nc
2019-01-01_2000_UTC.nc
2019-03-31_2000_UTC.nc
2020-02-08_0100_UTC.nc
2021-02-17_2000_UTC.nc
2021-04-20_2000_UTC.nc
2024-01-11_2000_UTC.nc
2017-03-27_2000_UTC.nc
2019-03-16_1500_UTC.nc